.hero {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: white;
  border: 1px solid #ff1100;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add this line to center vertically */
}
.hero h2 {
  margin-bottom: 10px;
  font-size: 2em;
  color: #333;
}
.hero p {
  font-size: 1.2em;
  color: #666;
  max-width: 600px;
}
.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #ff0800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero button:hover {
  background-color: #ffffff;
  color: #ff0800;
}